* {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0;
}

.container-page {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    width: 100%;

    background: rgba(34, 34, 34, 1);
    height: 70px;
}

.logo {
    width: 44px;
    height: 38px;
    margin-right: 50px;
}

/* .top-box{
      padding-bottom: 65px;
  } */
.search-pic {
    width: 28px;
    height: 30px;
}

.search {
    display: flex;
    /* background: #2f3640; */
    /* height: 20px; */
    border-radius: 40px;
    padding: 10px;
    top: 10px;

}

.search-button {
    height: 30px;
    border-radius: 50%;
    /* background: #2f3640;  */
    display: flex;
    justify-content: center;
    transition: 0.4s;
    color: #ffffff;
    cursor: pointer;
}

.search-button>i {
    font-size: 30px;
}

.search:hover>.searchText {
    width: 250px;
    padding: 0 6px;

}

.searchText {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 0;
    font-weight: bold;
}

.menu-btn {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

/* .menu-link{
      padding-top: 4px;
  } */
.menu-right {
    width: 350px;
    /* right: auto; */
}

.menu-left,
.menu-right {
    display: flex;
    /* padding-top: 20px;
      padding-bottom: 20px; */
    align-items: center;
}



.banner {
    background-color: rgba(248, 243, 244, 1);
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.breadcrumbs {
    display: flex;
}

.breadcrumbs-txt {
    color: rgba(241, 109, 127, 1);
    font-size: 24px;
}

.breadcrumbs {
    list-style: none;

}

.breadcrumbs ul {
    width: 400px;
}

.breadcrumbs li {
    display: inline;

    font-size: 18px;
}

.breadcrumbs-link-checked {
    color: #EF5B70;
}

.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


.breadcrumbs li a {
    color: #636363;
    text-decoration: none;
}


.breadcrumbs li a:hover {
    color: #EF5B70;
    text-decoration: underline;
    font-size: 20px;
}

.active-link {
    color: #EF5B70;
    font-size: 18px;
}

/* .active-link:hover {
    font-size: 20px;
} */

.product-banner-img {
    width: 597px;
    height: 724px;
    display: flex;
    align-self: center;


}

.back-product-img {
    background: rgba(247, 247, 247, 1);
}

.product-info {
    height: 600px;
    text-align: center;
    border: 1px solid rgba(234, 234, 234, 1);
    position: relative;
    margin-top: -60px;
    background: rgba(255, 255, 255, 1);

}

.product-title {
    color: #EF5B70;
    font-weight: 300;
    font-size: 18px;
    line-height: 17px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.decor-element {
    background-color: #EF5B70;
    width: 63px;
    height: 3.3px;
    position: absolute;
    margin-left: -40px;
}

.product-name {
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    padding-top: 30px;
    font-weight: 300;
}

.product-info-txt {
    margin-top: 48px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #5E5E5E;
}

.product-price {
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    margin-top: 32px;
    margin-bottom: 32px;
    color: #EF5B70;

}

.border-line {
    position: absolute;
    border: 1px solid #EAEAEA;
    width: 681px;
    display: flex;
    left: 20%;
}

.select-forms {
    display: flex;
    width: 500px;
    padding-top: 65px;
}

input:focus,
button:focus {
    outline: none;
}

input:focus-visible,
button:focus-visible {
    outline: 2px solid #F16D7F;
}

.list-color {
    width: 80px;
    border: none;
    background-color: transparent;
    position: relative;
}

.list-color-btn-title {
    display: block;
    width: 120px;
    margin: 0;
    padding: 0;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.8px;
    color: #6F6E6E;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    position: relative;
}

.list-color-btn-title svg {
    fill: #6F6E6E;
    position: absolute;
    top: 40%;
    left: 60%;
}

.list-color-btn-title:hover {
    color: #F16D7F;
}

.list-color-btn-title:hover svg {
    fill: currentColor;
}

.list-color-btn-title:active {
    color: black;
}

.list-color-btn-title:active svg {
    fill: currentColor;
}

#switch {
    display: none;
}

#switch:checked~.list-color-wrp {
    display: flex;
}

.list-color-wrp {
    width: 100px;
    display: none;
    flex-direction: column;
    margin: 5px 0 0 0;
    padding: 9.5px 9.5px 9.5px 31px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    top: 18px;
    left: 0px;
}

.list-color-item {
    display: none;
}

.list-color-item:nth-child(1):checked~.list-color-item-title:nth-child(2)::before,
.list-color-item:nth-child(3):checked~.list-color-item-title:nth-child(4)::before,
.list-color-item:nth-child(5):checked~.list-color-item-title:nth-child(6)::before,
.list-color-item:nth-child(7):checked~.list-color-item-title:nth-child(8)::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
    background-size: cover;
    background-position: center;
}

.list-color-item-title {
    display: block;
    margin: 0 0 6px 0;
    position: relative;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.41px;
    color: #6F6E6E;
}

.list-color-item-title:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #EBEBEB;
    position: absolute;
    top: 1px;
    left: -23.5px;
}


input:focus,
button:focus {
    outline: none;
}

input:focus-visible,
button:focus-visible {
    outline: 2px solid #F16D7F;
}

.list-size {
    width: 80px;
    border: none;
    background-color: transparent;
    position: relative;
}

.list-size-btn-title {
    display: block;
    width: 100px;
    margin: 0;
    padding: 0;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.8px;
    color: #6F6E6E;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    position: relative;
}

.list-size-btn-title svg {
    fill: #6F6E6E;
    position: absolute;
    top: 40%;
    left: 60%;
}

.list-size-btn-title:hover {
    color: #F16D7F;
}

.list-size-btn-title:hover svg {
    fill: currentColor;
}

.list-size-btn-title:active {
    color: black;
}

.list-size-btn-title:active svg {
    fill: currentColor;
}

#switch-size {
    display: none;
}

#switch-size:checked~.list-size-wrp {
    display: flex;
}

.list-size-wrp {
    width: 79px;
    display: none;
    flex-direction: column;
    margin: 5px 0 0 0;
    padding: 9.5px 9.5px 9.5px 31px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    top: 18px;
    left: 0px;
}

.list-size-item {
    display: none;
}

.list-size-item:nth-child(1):checked~.list-size-item-title:nth-child(2)::before,
.list-size-item:nth-child(3):checked~.list-size-item-title:nth-child(4)::before,
.list-size-item:nth-child(5):checked~.list-size-item-title:nth-child(6)::before,
.list-size-item:nth-child(7):checked~.list-size-item-title:nth-child(8)::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
    background-size: cover;
    background-position: center;
}

.list-size-item-title {
    display: block;
    margin: 0 0 6px 0;
    position: relative;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.41px;
    color: #6F6E6E;
}

.list-size-item-title:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #EBEBEB;
    position: absolute;
    top: 1px;
    left: -23.5px;
}


input:focus,
button:focus {
    outline: none;
}

input:focus-visible,
button:focus-visible {
    outline: 2px solid #F16D7F;
}

.list-quantity {
    width: 80px;
    border: none;
    background-color: transparent;
    position: relative;
}

.list-quantity-btn-title {
    display: block;
    width: 100px;
    margin: 0;
    padding: 0;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.8px;
    color: #6F6E6E;
    background-color: transparent;
    text-align: left;
    text-transform: uppercase;
    position: relative;
}

.list-quantity-btn-title svg {
    fill: #6F6E6E;
    position: absolute;
    top: 40%;
    left: 60%;
}

.list-quantity-btn-title:hover {
    color: #F16D7F;
}

.list-quantity-btn-title:hover svg {
    fill: currentColor;
}

.list-quantity-btn-title:active {
    color: black;
}

.list-quantity-btn-title:active svg {
    fill: currentColor;
}

#switch-quantity {
    display: none;
}

#switch-quantity:checked~.list-quantity-wrp {
    display: flex;
}

.list-quantity-wrp {
    width: 79px;
    display: none;
    flex-direction: column;
    margin: 5px 0 0 0;
    padding: 9.5px 9.5px 9.5px 31px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    top: 18px;
    left: 0px;
}

.list-quantity-item {
    display: none;
}

.list-quantity-item:nth-child(1):checked~.list-quantity-item-title:nth-child(2)::before,
.list-quantity-item:nth-child(3):checked~.list-quantity-item-title:nth-child(4)::before,
.list-quantity-item:nth-child(5):checked~.list-quantity-item-title:nth-child(6)::before,
.list-quantity-item:nth-child(7):checked~.list-quantity-item-title:nth-child(8)::before {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/Green_tick.svg/600px-Green_tick.svg.png');
    background-size: cover;
    background-position: center;
}

.list-quantity-item-title {
    display: block;
    margin: 0 0 6px 0;
    position: relative;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16.41px;
    color: #6F6E6E;
}

.list-quantity-item-title:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border: 1px solid #EBEBEB;
    position: absolute;
    top: 1px;
    left: -23.5px;
}

.card-cart-btn {
    display: inline-flex;
    align-items: center;
    background: #ffffff;
    border: 1px solid #FF6A6A;
    height: 47px;
    width: 211px;
    color: #FF6A6A;
    padding-right: 15px;
    margin-top: 65px;
    /* transform: translate(-50%, 0); */
}

.card-cart-btn svg {
    fill: #F16D7F;
}

.card-cart-btn:hover {
    background-color: rgba(242, 99, 118, 1);
    color: aliceblue;
    width: 230px;
    height: 57px;
    border-radius: 20px;
}

.card-cart-btn:hover svg {
    fill: aliceblue;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.card-1,
.card-2,
.card-3 {
    width: 360px;
    height: 600px;
    background: #F8F8F8;
    /* position: relative; */
    margin: 0;
}



.product-name {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.item-description {
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.card-info {
    margin-top: 15px;
    margin-left: 18.41px;
}

.product-name {
    margin-bottom: 12.65px;
}

.item-description {
    margin-bottom: 18px;
}

.prices {
    font-size: 16px;
    color: rgba(241, 109, 127, 1);
    margin-bottom: 20px;
}

.footer-page {
    background-image: url(../image/photo\ subscribe.jpg);
    /* margin-bottom: 60px; */
    height: 448px;
    margin-top: 80px;
}

.subscribe-info-avatar {
    height: 100px;
    width: 80px;
    margin-top: 86px;
    margin-left: 250px;
    margin-bottom: 45px;
}

.avatar-text {
    text-align: center;
    width: 359px;
    height: 90px;
}

.subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-top-text {
    text-align: center;
    margin-top: 50px;
    line-height: 2.5;
}

.subscribe-input-btn {
    margin-top: 32px;
}

.input-txt {
    margin-left: 130px;
    padding-bottom: 40px;
}

.email-btn {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    height: 49px;
    border: none;
    border-radius: 20px;
    background: #E1E1E1;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    display: flex;
    color: #222224;
    opacity: 0.7;
    padding-left: 20px;
    margin-left: 130px;
}

.subscribe-btn {
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 100px;
    position: relative;
    background-color: rgba(241, 109, 127, 1);
    margin-left: 330px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    height: 49px;
    padding-left: 7px;
}




.footer-social-media {
    background-color: #000000;
    height: 79px;
    display: flex;
    align-items: center;
}

.page-footer-socials-item {
    fill: #CFD8DC;
    list-style: none;


}

.page-footer-socials-item:hover {
    fill: rgba(241, 109, 127, 1);
}

.page-footer-txt {
    color: #CFD8DC;
}

.media-icons {
    display: flex;
    width: 200px;
    float: right;

}